.item {
	color: white;
	border-radius: 5px;
	transition:all .2s ease-in-out;

	width:90% !important;
	margin:20px auto;
	cursor:pointer;
}
.sub-item {
	color: #bbb;
	margin:5px auto;
}
a { 
	text-decoration:none !important;
}
.nav-link {
	width:100px;
	margin:10px auto 0 auto;
} 
.nav-link span {
	color: #edf;
}
.item:hover, .active .item{
	background:#fff;
	color: black;
}
.MuiList-script{
	font-family: 'NanumSquareRoundB';
	text-align:center;
}
.MuiList-script .script { margin-top:28px; }
.MuiList-main {
	font-size:24px;
	color:#fff;
	font-weight:bold;
}

.MuiList-sub {
	font-size:14px;
	color:#ddd;
}
.MenuIcon {
	color: black;
}
.copyright {
	width:100%;
	bottom:10px;
	position:absolute;
	z-index:0;
	font-size:10px;
	color:#bbb;
	text-align:center;
	word-break:all;
	cursor:pointer;
}